<% if @pregnancy.errors.any? %>
  <% @pregnancy.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit pregnancy #<%= @pregnancy.id %>
</h1>

<hr>

<form action="/update_pregnancy/<%= @pregnancy.id %>" method="post">

  <div class="form-group">
    <label for="earring_id">
      Earring
    </label>

    <input type="text" id="earring_id" name="earring_id" class="form-control" value="<%= @pregnancy.earring_id %>">
  </div>

  <div class="form-group">
    <label for="bull_name">
      Bull name
    </label>

    <input type="text" id="bull_name" name="bull_name" class="form-control" value="<%= @pregnancy.bull_name %>">
  </div>

  <div class="form-group">
    <label for="born">
      Born
    </label>

    <input type="text" id="born" name="born" class="form-control" value="<%= @pregnancy.born %>">
  </div>

  <div class="form-group">
    <label for="cattle_id">
      Cattle
    </label>

    <%= select_tag(:cattle_id, options_from_collection_for_select(CattleCatalog.all, :id, :earring_id, @pregnancy.cattle_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update pregnancy
  </button>
</form>

<hr>

<a href="/pregnancies">
  Go back
</a>
