<!-- Validation failure messages -->
<% if @pregnancy.present? %>
  <% if @pregnancy.errors.any? %>
    <% @pregnancy.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new pregnancy
</h1>


<hr>

<!-- Form pregnancy start -->
<form action="/create_pregnancy" method="post">
<!-- Form pregnancy end -->

  <!-- Label and input for earring_id start -->
  <div class="form-group">
    <label for="earring_id">
      Earring
    </label>

    <!-- Input for earring_id start -->
    <input type="text" id="earring_id" name="earring_id" class="form-control" value="<%= @pregnancy.earring_id %>">
    <!-- Input for earring_id end -->
  </div>
  <!-- Label and input for earring_id end -->

  <!-- Label and input for bull_name start -->
  <div class="form-group">
    <label for="bull_name">
      Bull name
    </label>

    <!-- Input for bull_name start -->
    <input type="text" id="bull_name" name="bull_name" class="form-control" value="<%= @pregnancy.bull_name %>">
    <!-- Input for bull_name end -->
  </div>
  <!-- Label and input for bull_name end -->

  <!-- Label and input for born start -->
  <div class="form-group">
    <label for="born">
      Born
    </label>

    <!-- Input for born start -->
    <input type="text" id="born" name="born" class="form-control" value="<%= @pregnancy.born %>">
    <!-- Input for born end -->
  </div>
  <!-- Label and input for born end -->

  <!-- Label and input for cattle_id start -->
  <div class="form-group">
    <label for="cattle_id">
      Cattle
    </label>

    <!-- Input for cattle_id start -->
    <%= select_tag(:cattle_id, options_from_collection_for_select(CattleCatalog.all, :id, :earring_id, @pregnancy.cattle_id), :class => "form-control") %>
    <!-- Input for cattle_id end -->
  </div>
  <!-- Label and input for cattle_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create pregnancy
  </button>
</form>

<hr>

<a href="/pregnancies">
  Go back
</a>
