<h1>
  Edit vaccination #<%= @vaccination.id %>
</h1>

<hr>

<!-- Form vaccination start -->
<form action="/update_vaccination/<%= @vaccination.id %>" method="post">
<!-- Form vaccination end -->

  <!-- Label and input for earrring_id start -->
  <div class="form-group">
    <label for="earrring_id">
      Earrring
    </label>

    <!-- Input for earrring_id start -->
    <input type="text" id="earrring_id" name="earrring_id" class="form-control" value="<%= @vaccination.earrring_id %>">
    <!-- Input for earrring_id end -->
  </div>
  <!-- Label and input for earrring_id end -->

  <!-- Label and input for vaccine_type start -->
  <div class="form-group">
    <label for="vaccine_type">
      Vaccine type
    </label>

    <!-- Input for vaccine_type start -->
    <input type="text" id="vaccine_type" name="vaccine_type" class="form-control" value="<%= @vaccination.vaccine_type %>">
    <!-- Input for vaccine_type end -->
  </div>
  <!-- Label and input for vaccine_type end -->

  <!-- Label and input for cattle_id start -->
  <div class="form-group">
    <label for="cattle_id">
      Cattle
    </label>

    <!-- Input for cattle_id start -->
    <input type="text" id="cattle_id" name="cattle_id" class="form-control" value="<%= @vaccination.cattle_id %>">
    <!-- Input for cattle_id end -->
  </div>
  <!-- Label and input for cattle_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update vaccination
  </button>
</form>

<hr>

<a href="/vaccinations">
  Go back
</a>
