<h1>
  Edit weighting #<%= @weighting.id %>
</h1>

<hr>

<form action="/update_weighting/<%= @weighting.id %>" method="post">

  <div class="form-group">
    <label for="earring_id">
      Earring
    </label>

    <input type="text" id="earring_id" name="earring_id" class="form-control" value="<%= @weighting.earring_id %>">
  </div>

  <div class="form-group">
    <label for="weight">
      Weight
    </label>

    <input type="text" id="weight" name="weight" class="form-control" value="<%= @weighting.weight %>">
  </div>

  <div class="form-group">
    <label for="cattle_id">
      Cattle
    </label>

    <%= select_tag(:cattle_id, options_from_collection_for_select(CattleCatalog.all, :id, :earring_id, @weighting.cattle_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="lot">
      Lot
    </label>

    <input type="text" id="lot" name="lot" class="form-control" value="<%= @weighting.lot %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update weighting
  </button>
</form>

<hr>

<a href="/weightings">
  Go back
</a>
