<% if @cattle_sale.present? %>
  <% if @cattle_sale.errors.any? %>
    <% @cattle_sale.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new cattle sale
</h1>


<hr>

<form action="/create_cattle_sale" method="post">

  <div class="form-group">
    <label for="weight">
      Weight
    </label>

    <input type="text" id="weight" name="weight" class="form-control" value="<%= @cattle_sale.weight %>">
  </div>

  <div class="form-group">
    <label for="price_per_kilo">
      Price per kilo
    </label>

    <input type="text" id="price_per_kilo" name="price_per_kilo" class="form-control" value="<%= @cattle_sale.price_per_kilo %>">
  </div>

  <div class="form-group">
    <label for="earring_id">
      Earring
    </label>

    <input type="text" id="earring_id" name="earring_id" class="form-control" value="<%= @cattle_sale.earring_id %>">
  </div>

  <div class="form-group">
    <label for="cattle_id">
      Cattle
    </label>

    <%= select_tag(:cattle_id, options_from_collection_for_select(CattleCatalog.all, :id, :earring_id, @cattle_sale.cattle_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create cattle sale
  </button>
</form>

<hr>

<a href="/cattle_sales">
  Go back
</a>
