<% if @temp_weaning.errors.any? %>
  <% @temp_weaning.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit temp weaning #<%= @temp_weaning.id %>
</h1>

<hr>

<form action="/update_temp_weaning/<%= @temp_weaning.id %>" method="post">

  <div class="form-group">
    <label for="earring_id">
      Earring
    </label>

    <input type="text" id="earring_id" name="earring_id" class="form-control" value="<%= @temp_weaning.earring_id %>">
  </div>

  <div class="form-group">
    <label for="first_weight">
      First weight
    </label>

    <input type="text" id="first_weight" name="first_weight" class="form-control" value="<%= @temp_weaning.first_weight %>">
  </div>

  <div class="form-group">
    <label for="estimated_price_per_kilo">
      Estimated price per kilo
    </label>

    <input type="text" id="estimated_price_per_kilo" name="estimated_price_per_kilo" class="form-control" value="<%= @temp_weaning.estimated_price_per_kilo %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update temp weaning
  </button>
</form>

<hr>

<a href="/temp_weanings">
  Go back
</a>
