<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Temp weaning #<%= @temp_weaning.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/temp_weanings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/temp_weanings/<%= @temp_weaning.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit temp weaning
        </a>
      </div>

      <div class="col">
        <a href="/delete_temp_weaning/<%= @temp_weaning.id %>" class="btn btn-block btn-outline-secondary">
          Delete temp weaning
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Earring
      </dt>
      <dd>
        <%= @temp_weaning.earring_id %>
      </dd>

      <dt>
        First weight
      </dt>
      <dd>
        <%= @temp_weaning.first_weight %>
      </dd>

      <dt>
        Estimated price per kilo
      </dt>
      <dd>
        <%= @temp_weaning.estimated_price_per_kilo %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@temp_weaning.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@temp_weaning.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

