<h1>
  Edit temp birth #<%= @temp_birth.id %>
</h1>

<hr>

<form action="/update_temp_birth/<%= @temp_birth.id %>" method="post">

  <div class="form-group">
    <label for="earring_id">
      Earring
    </label>

    <input type="text" id="earring_id" name="earring_id" class="form-control" value="<%= @temp_birth.earring_id %>">
  </div>

  <div class="form-group">
    <label for="gender">
      Gender
    </label>

    <input type="text" id="gender" name="gender" class="form-control" value="<%= @temp_birth.gender %>">
  </div>

  <div class="form-group">
    <label for="mother_earring_id">
      Mother earring
    </label>

    <input type="text" id="mother_earring_id" name="mother_earring_id" class="form-control" value="<%= @temp_birth.mother_earring_id %>">
  </div>

  <div class="form-group">
    <label for="race">
      Race
    </label>

    <input type="text" id="race" name="race" class="form-control" value="<%= @temp_birth.race %>">
  </div>

  <div class="form-group">
    <label for="birthdate">
      Birthdate
    </label>

    <input type="text" id="birthdate" name="birthdate" class="form-control" value="<%= @temp_birth.birthdate %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update temp birth
  </button>
</form>

<hr>

<a href="/temp_births">
  Go back
</a>
