<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All temp births
    </h1>

    <a href="/temp_births/new" class="btn btn-block btn-outline-secondary">
      Add a new temp birth
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "temp_birth_templates/temp_births_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Earring
        </th>

        <th>
          Gender
        </th>

        <th>
          Mother earring
        </th>

        <th>
          Race
        </th>

        <th>
          Birthdate
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @temp_births.each do |temp_birth| %>
      <tr>
        <td>
          <%= temp_birth.id %>
        </td>

        <td>
          <%= temp_birth.earring_id %>
        </td>

        <td>
          <%= temp_birth.gender %>
        </td>

        <td>
          <%= temp_birth.mother_earring_id %>
        </td>

        <td>
          <%= temp_birth.race %>
        </td>

        <td>
          <%= temp_birth.birthdate %>
        </td>

        <td>
          <%= time_ago_in_words(temp_birth.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(temp_birth.updated_at) %> ago
        </td>

        <td>
          <a href="/temp_births/<%= temp_birth.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @temp_births, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
