<!-- Validation failure messages -->
<% if @temp_birth.present? %>
  <% if @temp_birth.errors.any? %>
    <% @temp_birth.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new temp birth
</h1>


<hr>

<!-- Form temp_birth start -->
<form action="/create_temp_birth" method="post">
<!-- Form temp_birth end -->

  <!-- Label and input for earring_id start -->
  <div class="form-group">
    <label for="earring_id">
      Earring
    </label>

    <!-- Input for earring_id start -->
    <input type="text" id="earring_id" name="earring_id" class="form-control" value="<%= @temp_birth.earring_id %>">
    <!-- Input for earring_id end -->
  </div>
  <!-- Label and input for earring_id end -->

  <!-- Label and input for gender start -->
  <div class="form-group">
    <label for="gender">
      Gender
    </label>

    <!-- Input for gender start -->
    <input type="text" id="gender" name="gender" class="form-control" value="<%= @temp_birth.gender %>">
    <!-- Input for gender end -->
  </div>
  <!-- Label and input for gender end -->

  <!-- Label and input for mother_earring_id start -->
  <div class="form-group">
    <label for="mother_earring_id">
      Mother earring
    </label>

    <!-- Input for mother_earring_id start -->
    <input type="text" id="mother_earring_id" name="mother_earring_id" class="form-control" value="<%= @temp_birth.mother_earring_id %>">
    <!-- Input for mother_earring_id end -->
  </div>
  <!-- Label and input for mother_earring_id end -->

  <!-- Label and input for race start -->
  <div class="form-group">
    <label for="race">
      Race
    </label>

    <!-- Input for race start -->
    <input type="text" id="race" name="race" class="form-control" value="<%= @temp_birth.race %>">
    <!-- Input for race end -->
  </div>
  <!-- Label and input for race end -->

  <!-- Label and input for birthdate start -->
  <div class="form-group">
    <label for="birthdate">
      Birthdate
    </label>

    <!-- Input for birthdate start -->
    <input type="text" id="birthdate" name="birthdate" class="form-control" value="<%= @temp_birth.birthdate %>">
    <!-- Input for birthdate end -->
  </div>
  <!-- Label and input for birthdate end -->

  <button class="btn btn-block btn-outline-secondary">
    Create temp birth
  </button>
</form>

<hr>

<a href="/temp_births">
  Go back
</a>
