<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Temp birth #<%= @temp_birth.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/temp_births" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/temp_births/<%= @temp_birth.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit temp birth
        </a>
      </div>

      <div class="col">
        <a href="/delete_temp_birth/<%= @temp_birth.id %>" class="btn btn-block btn-outline-secondary">
          Delete temp birth
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Earring
      </dt>
      <dd>
        <%= @temp_birth.earring_id %>
      </dd>

      <dt>
        Gender
      </dt>
      <dd>
        <%= @temp_birth.gender %>
      </dd>

      <dt>
        Mother earring
      </dt>
      <dd>
        <%= @temp_birth.mother_earring_id %>
      </dd>

      <dt>
        Race
      </dt>
      <dd>
        <%= @temp_birth.race %>
      </dd>

      <dt>
        Birthdate
      </dt>
      <dd>
        <%= @temp_birth.birthdate %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@temp_birth.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@temp_birth.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

