<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Temp birth #<%= @temp_birth.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/temp_births" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link temp_birth start -->
      <div class="col">
        <a href="/temp_births/<%= @temp_birth.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit temp birth
        </a>
      </div>
      <!-- Edit link temp_birth end -->

      <!-- Delete link temp_birth start -->
      <div class="col">
        <a href="/delete_temp_birth/<%= @temp_birth.id %>" class="btn btn-block btn-outline-secondary">
          Delete temp birth
        </a>
      </div>
      <!-- Delete link temp_birth end -->
    </div>

    <dl>
      <dt>
        Earring
      </dt>
      <!-- Display earring_id start -->
      <dd>
        <%= @temp_birth.earring_id %>
      </dd>
      <!-- Display earring_id end -->

      <dt>
        Gender
      </dt>
      <!-- Display gender start -->
      <dd>
        <%= @temp_birth.gender %>
      </dd>
      <!-- Display gender end -->

      <dt>
        Mother earring
      </dt>
      <!-- Display mother_earring_id start -->
      <dd>
        <%= @temp_birth.mother_earring_id %>
      </dd>
      <!-- Display mother_earring_id end -->

      <dt>
        Race
      </dt>
      <!-- Display race start -->
      <dd>
        <%= @temp_birth.race %>
      </dd>
      <!-- Display race end -->

      <dt>
        Birthdate
      </dt>
      <!-- Display birthdate start -->
      <dd>
        <%= @temp_birth.birthdate %>
      </dd>
      <!-- Display birthdate end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@temp_birth.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@temp_birth.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
