<% if @death.errors.any? %>
  <% @death.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit death #<%= @death.id %>
</h1>

<hr>

<form action="/update_death/<%= @death.id %>" method="post">

  <div class="form-group">
    <label for="earring_id">
      Earring
    </label>

    <input type="text" id="earring_id" name="earring_id" class="form-control" value="<%= @death.earring_id %>">
  </div>

  <div class="form-group">
    <label for="cause">
      Cause
    </label>

    <input type="text" id="cause" name="cause" class="form-control" value="<%= @death.cause %>">
  </div>

  <div class="form-group">
    <label for="cattle_id">
      Cattle
    </label>

    <%= select_tag(:cattle_id, options_from_collection_for_select(CattleCatalog.all, :id, :earring_id, @death.cattle_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update death
  </button>
</form>

<hr>

<a href="/deaths">
  Go back
</a>
