<h1>
  Edit cattle catalog #<%= @cattle_catalog.id %>
</h1>

<hr>

<form action="/update_cattle_catalog/<%= @cattle_catalog.id %>" method="post">

  <div class="form-group">
    <label for="first_weight">
      First weight
    </label>

    <input type="text" id="first_weight" name="first_weight" class="form-control" value="<%= @cattle_catalog.first_weight %>">
  </div>

  <div class="form-group">
    <label for="source">
      Source
    </label>

    <input type="text" id="source" name="source" class="form-control" value="<%= @cattle_catalog.source %>">
  </div>

  <div class="form-group">
    <label for="race">
      Race
    </label>

    <input type="text" id="race" name="race" class="form-control" value="<%= @cattle_catalog.race %>">
  </div>

  <div class="form-group">
    <label for="gender">
      Gender
    </label>

    <input type="text" id="gender" name="gender" class="form-control" value="<%= @cattle_catalog.gender %>">
  </div>

  <div class="form-group">
    <label for="price_per_kilo">
      Price per kilo
    </label>

    <input type="text" id="price_per_kilo" name="price_per_kilo" class="form-control" value="<%= @cattle_catalog.price_per_kilo %>">
  </div>

  <div class="form-group">
    <label for="father">
      Father
    </label>

    <input type="text" id="father" name="father" class="form-control" value="<%= @cattle_catalog.father %>">
  </div>

  <div class="form-group">
    <label for="earring_id">
      Earring
    </label>

    <input type="text" id="earring_id" name="earring_id" class="form-control" value="<%= @cattle_catalog.earring_id %>">
  </div>

  <div class="form-group">
    <label for="purchase_or_weaning_date">
      Purchase or weaning date
    </label>

    <input type="text" id="purchase_or_weaning_date" name="purchase_or_weaning_date" class="form-control" value="<%= @cattle_catalog.purchase_or_weaning_date %>">
  </div>

  <div class="form-group">
    <label for="mother_earring_id">
      Mother earring
    </label>

    <input type="text" id="mother_earring_id" name="mother_earring_id" class="form-control" value="<%= @cattle_catalog.mother_earring_id %>">
  </div>

  <div class="form-group">
    <label for="birthdate">
      Birthdate
    </label>

    <input type="text" id="birthdate" name="birthdate" class="form-control" value="<%= @cattle_catalog.birthdate %>">
  </div>

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control" value="<%= @cattle_catalog.status %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update cattle catalog
  </button>
</form>

<hr>

<a href="/cattle_catalogs">
  Go back
</a>
