<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Cattle catalog #<%= @cattle_catalog.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/cattle_catalogs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/cattle_catalogs/<%= @cattle_catalog.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit cattle catalog
        </a>
      </div>

      <div class="col">
        <a href="/delete_cattle_catalog/<%= @cattle_catalog.id %>" class="btn btn-block btn-outline-secondary">
          Delete cattle catalog
        </a>
      </div>
    </div>

    <dl>
      <dt>
        First weight
      </dt>
      <dd>
        <%= @cattle_catalog.first_weight %>
      </dd>

      <dt>
        Source
      </dt>
      <dd>
        <%= @cattle_catalog.source %>
      </dd>

      <dt>
        Race
      </dt>
      <dd>
        <%= @cattle_catalog.race %>
      </dd>

      <dt>
        Gender
      </dt>
      <dd>
        <%= @cattle_catalog.gender %>
      </dd>

      <dt>
        Price per kilo
      </dt>
      <dd>
        <%= @cattle_catalog.price_per_kilo %>
      </dd>

      <dt>
        Father
      </dt>
      <dd>
        <%= @cattle_catalog.father %>
      </dd>

      <dt>
        Earring
      </dt>
      <dd>
        <%= @cattle_catalog.earring_id %>
      </dd>

      <dt>
        Purchase or weaning date
      </dt>
      <dd>
        <%= @cattle_catalog.purchase_or_weaning_date %>
      </dd>

      <dt>
        Mother earring
      </dt>
      <dd>
        <%= @cattle_catalog.mother_earring_id %>
      </dd>

      <dt>
        Birthdate
      </dt>
      <dd>
        <%= @cattle_catalog.birthdate %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @cattle_catalog.status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@cattle_catalog.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@cattle_catalog.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "cattle_catalog_templates/cattle_catalog_pregnancies" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "cattle_catalog_templates/cattle_catalog_weightings" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "cattle_catalog_templates/cattle_catalog_vaccinations" %>
  </div>
</div>
